.bg-cover {
    background-image: url("../images/Main-BG.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    padding: 40px;
    text-align: center;
    box-shadow:0px 0px 6px 6px rgba(6, 14, 51, 0.445);
    padding: 0 16px 0 16px;
}

input {
    margin-bottom: 10px;
}

.row {
    justify-content: center;
}
